.card{
    height:400px;
    width:20%;
    background-color:#205f83;
    float:left;
    margin-left:4%;
    overflow: scroll;
    color:white
}

.purple{
    background-color:#532b23;
}

#blue{
    background-color:#665846;
}

#green{
    background-color:#2b6b96
}


#heading{
    text-align: center;
    color:olive
}
footer{
    color:orangered;
    text-align: center;
}
.card > img {
    height:200px;
    width:100%
}

.textContainer{
    height:200px;
    width:100%
}

.textContainer > h2 {
    text-align: center;
}
#mainContainer{
    display:inline-block;
}