body{
    margin: auto;
}
a{
    text-decoration: none;
}
#header{
    width:100%;
    height:60px;
    background-color:#da7141
}

#icon{
    float:left;
    margin-left:2%;
    margin-top:-1%;
}
#social{
    float:right;
    margin-right:2%;
}
.slogo{
    height:50px;
    width:50px
}

/* Search */
.headingText{
    text-align: center;
    font-size:30px;
    font-weight: bold;
}

#content{
    display: inline-block;
    width:80%;
    margin-left: 10%;
}

#filterDiv{
    height: 500px;
    width:20%;
    border:2px solid green;
    float: left;
}
#contentDiv{
    height: 700px;
    width:76%;
    margin-left: 3%;
    border:2px solid orange;
    float: left;
}

/* footer */
#footer{
    width:99%;
    height:100px;
    text-align:center;

}
#foottext{
    text-align: center;
}
.fotBox{
    border-right:1px solid black;
    width:34%;
    height:100px;
    float: left;
}

ul{
    list-style-type: none;
}