body{
    margin: auto;
}
a{
    text-decoration: none;
}
#header{
    width:100%;
    height:60px;
    background-color:#da7141
}

#icon{
    float:left;
    margin-left:2%;
    margin-top:-1%;
}
#social{
    float:right;
    margin-right:2%;
}
.slogo{
    height:50px;
    width:50px
}

/* Search */
#search{
    width:100%;
    height:400px;
    background-image: url('image/food-wallpaper.png');
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-size: 100% 400px;
}

#logo{
    height:150px;
    width:150px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 45%;

}

#logo>span{
    font-size: 80px;
    padding-top: 17%;
    position: absolute;
    padding-left: 23%;
}

#heading{
    position: absolute;
    font-size:50px;
    color:white;
    margin-left:32%;
    margin-top:14%;
}

.dropdown{
    height:60px;
    width:50%;
    margin-left: 27%;
    margin-top: 21%;
    position: absolute;
}
select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align: center; 
}
.restSelect{
    width:59%;
}

/* quickSearch */
#quickSearch{
    width:80%;
    height:600px;
    margin-left:10%;
    margin-top: 2%;
}

#quickHeading{
    font-size:30px;
    color:#da7141;
    display: block;
    font-weight: bold;
    margin-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#quickSubHeading{
    font-size:20px;
    color:gray;
    line-height: 2;
    margin-left: 2%;
}

.tileContainer{
    width:30%;
    height:200px;
    box-shadow: 10px 20px 10px gray;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}

.tileComponent1{
    width:50%;
    height:200px;
    float: left;
}

.tileComponent1 > img {
    width:100%;
    height:200px;
}

.tileComponent2{
    width:45%;
    margin-left:5%;
    margin-top: 15%;
    float: left;

}

.componentHeading >a {
    color:#da7141;
    font-size: 30px;
    text-decoration: none;
}

.componentSubHeading{
    color:gray;
    font-size: 20px;
}

/* footer */
#footer{
    width:99%;
    height:100px;
    text-align:center;

}
#foottext{
    text-align: center;
}
.fotBox{
    border-right:1px solid black;
    width:34%;
    height:100px;
    float: left;
}

ul{
    list-style-type: none;
}