body{
    margin: auto;
}
a{
    text-decoration: none;
}
#header{
    width:100%;
    height:60px;
    background-color:#da7141
}

#icon{
    float:left;
    margin-left:2%;
    margin-top:-1%;
}
#social{
    float:right;
    margin-right:2%;
}
.slogo{
    height:50px;
    width:50px
}

/* Search */
#search{
    width:100%;
    height:400px;
    background-image: url('image/food-wallpaper.png');
    background-repeat: no-repeat;
    /* background-size:cover; */
    background-size: 100% 400px;
}

#logo{
    height:150px;
    width:150px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 50%;
    position: absolute;
    margin-top: 2%;
    margin-left: 45%;
    animation: revolve 10s infinite
}

@keyframes revolve{
    0% {transform: rotate(30deg); margin-left:0%}
    25% {transform: rotate(90deg); margin-left:20%}
    50% {transform: rotate(180deg); margin-left:45%}
    75% {transform: rotate(270deg); margin-left:80%}
    100% {transform: rotate(360deg); margin-left:45%}
}

#logo>span{
    font-size: 80px;
    padding-top: 17%;
    position: absolute;
    padding-left: 23%;
}

#heading{
    position: absolute;
    font-size:50px;
    color:white;
    margin-left:32%;
    margin-top:14%;
}

.dropdown{
    height:60px;
    width:50%;
    margin-left: 27%;
    margin-top: 21%;
    position: absolute;
}
select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align: center; 
}
.restSelect{
    width:59%;
}

/* quickSearch */
#quickSearch{
    width:80%;
    margin-left:10%;
    margin-top: 2%;
    display: inline-block;
}

#quickHeading{
    font-size:30px;
    color:#da7141;
    display: block;
    font-weight: bold;
    margin-left: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#quickHeading:hover{
    color:#52b1e9;
    font-size:40px;
}
#quickSubHeading{
    font-size:20px;
    color:gray;
    line-height: 2;
    margin-left: 2%;
}

.tileContainer{
    width:30%;
    height:200px;
    box-shadow: 10px 20px 10px gray;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
    animation: dance 10s infinite
}

@keyframes dance{
    0% {transform: rotate(-5deg)}
    25% {transform: rotate(0deg)}
    50% {transform: rotate(5deg)}
    60% {transform: scale(1.1)}
    75% {transform: rotate(0deg)}
    100% {transform: rotate(-5deg)}
}

.tileContainer:hover{
    /* transform: scale(1.1); */
    /* transform: skewY(20deg) */
    /* transform: rotate(180deg) */
    transform: scale(1.1);
}

.tileComponent1{
    width:50%;
    height:200px;
    float: left;
}

.tileComponent1 > img {
    width:100%;
    height:200px;
}

.tileComponent2{
    width:45%;
    margin-left:5%;
    margin-top: 15%;
    float: left;

}

.componentHeading >a {
    color:#da7141;
    font-size: 30px;
    text-decoration: none;
}

.componentSubHeading{
    color:gray;
    font-size: 20px;
}

/* footer */
#footer{
    width:99%;
    height:100px;
    text-align:center;

}
#foottext{
    text-align: center;
}
.fotBox{
    border-right:1px solid black;
    width:34%;
    height:100px;
    float: left;
}

ul{
    list-style-type: none;
}

@media screen and (max-width:1600px){
    body{
        background-color: lightblue;
    }
}

@media screen and (max-width:1400px){
    body{
        background-color: rgb(238, 177, 247);
    }
}

@media screen and (max-width:1200px){
    body{
        background-color: rgb(233, 245, 180);
    }
    .tileContainer{
        width:45%;
    }
    #heading{
        margin-top:22%;
    }
    
    .dropdown{
        margin-top:30%;
        margin-left:34%;
    }
    
}
@media screen and (max-width:1000px){
    body{
        background-color: rgb(186, 245, 180);
    }
    #heading{
        margin-top: 25%;
        margin-left: 22%;
    }
    .dropdown {
        margin-top: 35%;
        margin-left: 22%;
        width:70%
    }
}
@media screen and (max-width:800px){
    body{
        background-color: rgb(246, 200, 181);
    }
    .tileContainer{
        width:90%;
    }
}
@media screen and (max-width:600px){
    body{
        background-color: rgb(243, 137, 137);
    }
    #heading {
        margin-top: 35%;
        margin-left: 1%;
    }
    .dropdown {
        margin-top: 50%;
        margin-left: 0%;
        width: 100%;
    }
    #logo{
        margin-left: 31%;
    }
    
}